.categoriesDisplay{
    display: flex;
    flex-flow: wrap;
    justify-content: center
    
}

.categoriesBlock{
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    margin: 30px
}

.categoriesBlockText{
    background-color: midnightblue;
    color: white;
    margin: 0;
    padding: 17px;
    cursor: pointer;
}
.categoriesBlockText:hover{
    background-color: blue
}